@model Translator.Client.Models.MessageViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="display-4">Message Board</h1>
<div class="text-left">
        @foreach(var m in ViewBag.Messages)
        {
         <div class="card">
            <div class="card-body">
              <h5>Message: @m.Content </h5>
              <p>Date: @m.MessageDateTime </p>
              <p>By: @m.User.Username</p>
              <a href="Message/@m.MessageId"> View Message</a>
            </div>
          </div>
        }
</div>

<div class="text-left">
    <form action="/Home/CreateMessage" method="post">
        <div class="form-group">
          <br>
          <label for="exampleFormControlTextarea1">Create New Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="2"></textarea>
        </div>

         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>  