@model Translator.Client.Models.MessageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/messageboard" method="post">
    <h1 class="display-4">Message Board</h1>
    <fieldset> 
      <legend>Preferred Language</legend>
      <p> 
        <select id = "Language" name="Language">
          <option value = "english">English</option>
          <option value = "spanish">Spanish</option>
          <option value = "german">German</option>
          <option value = "french">French</option>
        </select>
      </p> 
    </fieldset> 
    <button type="submit" class="btn btn-primary" >
          Submit Order
    </button>
</form>
<div class="text-left">
        @foreach(var m in ViewBag.Messages)
        {
         <div class="card">
            <div class="card-body">
              <h5>Message: @m.TranslateTo(ViewBag.UserLanguage).Result</h5>
              <h5>Original Message: @m.Content </h5>
              <p>Date: @m.MessageDateTime </p>
              <p>By: @m.User.Username</p>
              <a href="Message/@m.MessageId"> View Message</a>
            </div>
          </div>
        }
</div>

<div class="text-left">
    <form action="/Home/CreateMessage" method="post">
        <div class="form-group">
          <br>
          <label for="exampleFormControlTextarea1">Create New Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="2"></textarea>
        </div>

         <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>  